.gallery-page {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}
.gallery-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.gallery-margin {
  margin-bottom: 135px;
}
